/3 Math Basics.pdf
/AdaBoost_classification.ipynb
/AI Material
/AI Material.rar
/archive (1).zip
/archive.zip
/Churn_Final.ipynb
/cifar10_CNN.ipynb
/CNN_clasfication_&_tuner_ (1).ipynb
/CNN_clasfication_&_tuner_.ipynb
/CNN_Classfication.ipynb
/Data Preprocessing Encoder.ipynb
/Data.csv
/decision_tree_classification.ipynb
/fashon_minist.ipynb
/Feature Selection.ipynb
/Flowers Recognition.ipynb
/gender_submission.csv
/Gradient Tree Boosting_regression.ipynb
/HCIA-AI V3.0 Training Material.pdf
/hierarchical_clustering.py
/Huawei Online class management.pptx
/kaggle.json
/Linear Regression.rar
/logistic_regression.ipynb
/Mall_Customers.csv
/Missing Values.ipynb
/multiple_linear_regression.ipynb
/Object Oriented Programming in c++.pdf
/object_oriented_python_tutorial.pdf
/pandas_blog.csv
/polynomial_regression.ipynb
/Position_Salaries.csv
/Python Programming Basics.pdf
/random_forest_regression.ipynb
/simple_linear_regression.ipynb
/Social_Network_Ads.csv
/soft skills
/Task
/vids
/water_potability.csv
/WA_Fn-UseC_-Telco-Customer-Churn.csv